<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nostalgia</title>
  
  <link rel="stylesheet" href="/css/style.css">



      <div class="container">
          <div class="nav-left">
            <h1>Nostalgia</h1>
          </div>
          <!-- <div class="nav-right"> -->
            <nav>
              <ul class="nav-ul">
                 <li><a href="/">Home</a></li>
                 <li><a href="/memories">Memories</a></li>
                 <li><a href="/blogs">Blogs</a></li>
                 <li><a href="">Contact Us</a></li>
              </ul>
            </nav>
          <!-- </div> -->
          <div class="menu-card">
            <span id="menu-btn">Menu</span>
          </div>
      </div>
  
  
</head>
<body>