@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sacramento&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* p {
  white-space: nowrap;
} */

body {
  font-family: "Nunito", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background-color: rgba(17, 16, 29, 0.1);
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../images/img1.jpeg");
  background-size: cover;
  background-position: center center;
  z-index: -1000;
  animation: animate 16s ease-in-out infinite;
  animation-delay: 4s;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

@keyframes animate {
  0%,
  100% {
    background-image: url(../images/img1.jpeg);
  }

  25% {
    background-image: url(../images/img2.jpeg);
  }
  50% {
    background-image: url(../images/img3.jpeg);
  }
  75% {
    background-image: url(../images/img4.jpeg);
  }
}

a {
  text-decoration: none;
  color: black;
}

/* .menu-card{
    position: absolute;
    top: 15px;
    right: 10px;
    display: none;
}

.menu-card a{
    color: white;
} */

.homeWrapper p {
  line-height: 1.8rem;
}

.homeContainer {
  width: 95%;
  margin: 0 auto;
  color: white;
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  color: white;
}

.homeWrapper hr {
  width: 100px;
  height: 2px;
  background-color: #151424;
  margin: 0 auto;
}

.main-def {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-def-para {
  width: 100%;
  text-align: center;
}

.memory-def {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1.8fr 1.5fr;
  color: white;
}

.memory-def-content {
  display: flex;
  flex-direction: column;
}

.memory-def-content p {
  word-wrap: break-word;
}

.memory-def-content span {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151424;
  color: white;
  align-self: flex-end;
  cursor: pointer;
  border-radius: 7px;
}

.memory-def-content span a {
  color: white;
}

.memory-def-content hr {
  background-color: #151424;
  margin-top: 0.8rem;
}
.blog-def {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  color: white;
}

.blog-def-content {
  display: flex;
  flex-direction: column;
}

.blog-def-content p {
  word-wrap: break-word;
  margin-right: 1rem;
}

.blog-def-content span {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151424;
  align-self: flex-end;
  cursor: pointer;
  border-radius: 7px;
}

.blog-def-content span a {
  color: white;
}
.memory-def-image {
  padding-left: 150px;
  height: 400px;
}

.blog-def-image {
  padding-right: 150px;
  height: 400px;
}

.memory-def-image img,
.blog-def-image img {
  /* width: 100%; */
  height: 380px;
  object-fit: cover;
}

.container {
  width: 100%;
  min-height: 12vh;
  /* background-color: bisque 11101d; */
  background-color: #151424;
  color: white;
  display: flex;
  padding: 0px 1.4rem;
  align-items: center;
}

.nav-left {
  width: 25%;
  color: white;
  justify-self: flex-start;
  margin-left: 75px;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul {
  transition: all 0.2s ease-in-out;
}
/* .show{
    transform: translateX(0px);
} */
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}

.menu-card {
  width: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

.nav-left p {
  margin-left: 10%;
  font-size: 1.5rem;
  font-weight: 650;
}

form {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}
label {
  font-weight: 650;
  margin-bottom: 0.25rem;
}

input {
  line-height: 1.7rem;
  border: none;
  outline: none;
  border-bottom: 1.2px solid black;
  background-color: transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
  outline: none !important;
  border-color: #719ece;
  border-radius: 3px;
  box-shadow: 0 0 12px #719ece;
}

.memform {
  width: 50%;
  margin: 0 auto;
  margin-top: 9vh;
  /* box-shadow: 0px 0px 2px 3px black; */
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}

.image-input {
  display: flex;
  flex-direction: row;
}
.image-input input {
  margin-left: 7%;
  border: none;
}

textarea {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1.5px solid black;
  /* border-radius: 0.25rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea:focus {
  outline: none !important;
  border-color: #719ece;
  border-radius: 3px;
  box-shadow: 0 0 12px #719ece;
}

.memform button {
  display: block;
  margin: 0 auto;
  padding: 9px 11px;
  background-color: #151424;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  row-gap: 50px;
  /* overflow: hidden; */
}
.card {
  width: 250px;
  height: 400px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  border-radius: 8px;
  position: relative;
  background-color: white;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image {
  height: 40%;
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  background-color: rgba(177, 50, 50, 0.15);
}

.image img {
  /* position: absolute;
top: 0;
left: 0; */
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}

.writer-img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

.writer-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.writer-img::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: 50%;
  background: white;
  z-index: -1;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

.title {
  margin-top: 1rem;
  height: 10%;
  width: 100%;
}

.title h2 {
  padding: 0.7rem 0.4rem 0 0.4rem;
  font-family: "Sacramento", cursive;
}
.date {
  margin-top: -0.7rem;
  align-self: flex-end;
  height: 4%;
  color: #989898;
  padding-top: 0px;
  padding-right: 0.82rem;
}

.body {
  margin-top: 0.7rem;
  height: 30%;
  width: 100%;
  padding: 0rem 0.4rem;
  overflow: hidden;
}

.author {
  position: absolute;
  width: 100%;
  bottom: 30px;
  right: 15px;
  text-align: right;
  font-weight: 600;
}

.like-comment {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #edf3f3;
}
.like-comment span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-right: 2px solid white;
}

.like-comment span:nth-child(2) {
  border-right: 0;
}

/* BLOGFORM */
.f-blogBody {
  margin-bottom: 1rem;
}

/* BLOGPAGE */
.blogs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(350px, auto);
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  gap: 20px;
  /* row-gap: 50px; */
}
.blog {
  width: 100%;
  /* height: 350px;  */
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

.blog-container {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blogTitle {
  height: 12%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.blogIntro {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.blogBody {
  height: 70%;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.blogBody p {
  margin-bottom: 1rem;
}

.blogBody p a {
  color: blue;
}

.blogConclusion {
  height: 15%;
  width: 100%;
}

/* READ MORE */

.single-blog-container {
  /*for responsive: width:90%;*/
  padding: 1.5rem;
  width: 50%;
  margin: 1.5rem auto;
  background-color: rgba(17, 16, 29, 0.1);
  height: 100vh;
}

.single-blog-container div {
  margin-bottom: 2rem;
}

.single-blog-container div p {
  line-height: 1.7rem;
}

/* RESPONSIVE */

@media only screen and (max-width: 1150px) {
  .memform {
    width: 55%;
  }
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(350px, auto);
    width: 95%;
    /* overflow: hidden; */
  }

  .card {
    width: 220px;
    margin: 0 auto;
  }
}

/* @media only screen and (max-width: 850px){
    .memform{
        width: 90%;
    }
} */
@media only screen and (max-width: 700px) {
  .memform {
    width: 90%;
  }
  .menu-card {
    display: block;
  }
  .nav-left {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  #mainnav {
    position: fixed;
    top: 0;
    left: -500px;
    height: 100%;
    width: 50%;
    text-align: left;
    background: white;
    opacity: 0.87;
    z-index: 2;
    overflow: hidden;
    transition: 0.65s;
  }

  /* .nav-ul {
    transform: translateX(0px);
  } */

  nav ul li {
    display: block;
    margin: 25px 20px;
    padding: 10px;

    border-bottom: 1px solid black;
  }
  nav ul li:last-child {
    border: none;
  }

  nav ul li a {
    font-size: 1.3rem;
    color: black;
  }

  .container {
    width: 100%;
    height: 9vh;
  }

  /* HOME PAGE */
  .main-def-para {
    width: 90%;
  }

  .memory-def,
  .blog-def {
    width: 98%;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 15px; */
  }

  .memory-def-image {
    padding: 0;
    align-self: center;
    margin-top: 20px;
    height: 400px;
  }

  .blog-def-image {
    padding: 0px;
    margin: 0 auto;
    width: 380px;
    height: 400px;
  }
  .blogs-container {
    grid-template-columns: 1fr;
  }

  .blog {
    width: 100%;
    height: 500px;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(350px, auto);
    /* overflow: hidden; */
  }

  .card {
    width: 240px;
  }
}

@media only screen and (max-width: 500px) {
  .memory-def-image {
    width: 350px;
    margin: 0 auto;
  }
  .cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(350px, auto);
    width: 100%;
    /* overflow: hidden; */
  }

  .card {
    width: 260px;
    margin: 0 auto;
  }
}
